
<div class="watch-filter-form d-none">

	<div class="filter-params-wrapper pt-4">
		<div class="filter-param px-2">			
			<h6 class="text-b ml-2">Marka</h6>
			<select class="form-control" id="watch-model">
				<option value="null">Hammasi</option>
				{% for model in fashion.watch.model %}
					<option value="{{ model }}">{{ model }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="filter-param filter-param-lg">
			<h6 class="text-b ml-2">Narx</h6>
			<div class="d-flex">
				<div class="col-4 px-1">			
      				<input type="number" id="watch-price-from" class="form-control" placeholder="..dan">
				</div>
				<div class="col-5 px-1">
      				<input type="number" id="watch-price-to" class="form-control" placeholder="..gacha">
				</div>
				<div class="col-3 px-1">
					<select class="form-control px-1" id="watch-valute">
						{% for type in valute %}
							<option value="{{ type }}">{{ type }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="filter-param px-2">			
			<h6 class="text-b ml-2">Holati</h6>
			<select class="form-control" id="watch-condition">
				<option value="null">Hammasi</option>
				{% for type in electrical.mobile_phone.condition %}
					<option value="{{ type }}">{{ type }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="filter-param px-2">			
			<h6 class="text-b ml-2">To'lov turi</h6>
			<select class="form-control" id="watch-payment-method">
				<option value="null">Hammasi</option>
				{% for type in payment_method %}
					<option value="{{ type }}">{{ type }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="filter-param px-2">			
			<h6 class="text-b ml-2">Sotuvchi</h6>
			<select class="form-control" id="watch-seller">
				<option value="null">Hammasi</option>
				{% for type in seller %}
					<option value="{{ type }}">{{ type }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>
